html,
body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
}

body {
  background-image: url(../../images/backgroundg.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 240px;
  height: 415px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
 
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}

.mySwiper{
   margin-top: 20px;
}

/* Conteneur du détail de la carte */
.card-details {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-width: 500px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 15px;
  text-align: right;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
}

/* Image dans la carte */
.card-image {
  width: 50%;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 20px;
}

/* Texte dans la carte */
.card-text h2 {

  font-family:'hongkonghustle';
  margin-top: 40px;
  margin-right: 10px;
  font-size: 30px;
  margin-bottom: 10px;
}

.card-text p {
  font-size: 10px;
}

/* Bouton de fermeture */
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: white;
}
.close-btn:hover {
  color:#be0505;
}



@font-face {
  font-family: 'HongKongHustle';
  src: url(../../fonts/hongkonghustle.ttf) format('truetype');

  font-weight: normal;
  font-style: normal;
}

