
@font-face {
    font-family: 'HongKongHustle';
    src: url(../../fonts/hongkonghustle.ttf) format('truetype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'lemonmilk' ;
    src: url(../../fonts/LEMONMILK-Medium.otf);
}
    /*Reglage de la barre de nav*/
.header__nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 20px
    
}

.header__logo {
    padding: 10px 20px;
    background-color:#6C18FE ;
    background-clip: text;
    color: transparent;
    font-weight: 700;
    font-size: 25px;
    cursor: default;
    
}

.header__button{
    padding: 9px 20px ;
    margin : 0 2px;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: #6C18FE ;
    color: white;
    font-weight: 500px;
    font-size: 16px;
    font-family: 'hongkonghustle';
    line-height: 23px;
    cursor: pointer;
    box-sizing: border-box;
    transition: transform 80ms;

}
 
.header__button:hover, 
.header__auth .header__button:nth-child(2) { /*selection le 2eme fils de la class header__auth*/
    background-color: white;
    color:#6C18FE;
    transform: scale(1.1);
}

.header__auth .header__button:nth-child(2):hover {
    background-color: #290863;
    color:white;
    border: 1px solid #fefefe
}

 





      /* Icône du menu burger */
.header__menu-mobile {
    display: none; 
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
}

 
    /* Menu déroulant mobile */
.mobile-menu {
    display: none; /* Caché tant que c'est pas activé */
    position: absolute;
    top: 60px;
    right: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

/* Styles des boutons du menu mobile */
.mobile-menu button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background: none;
    text-align: left;
    font-size: 18px;
    cursor: pointer;
}

.mobile-menu.open {
    display: block;
}


    /*Diparistion nav bar*/    
@media screen and (max-width: 1021px) {
    .header__nav .header__menu,  /* ici j'appelle le header__menu et header__auth a travers la div header__nav pour leur dire de ne pas apparaitre */
    .header__nav .header__auth {
        display: none; 
    }
    .header__menu-mobile {
        display: block; /* Affiche l’icône du menu burger */
    }
}  

.header__button a{
    text-decoration: none;
    
}

.header__menu{
    text-decoration: none;
}

.header__menu-mobile a {
    text-decoration: none;
}
.delete__link a {
    color: #fefefe;
}